<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles de Heladera</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
</head>

<body>
{{> templates/partials/headerColaborador rol=rol id=id}}
{{> templates/partials/tipografia}}

<main>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Heladera</h5>
                <h1 class="mb-5">Detalles de Heladera</h1>
            </div>
            <div class="row g-4">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                    <iframe class="position-relative rounded w-100 h-100"
                            src="https://www.google.com/maps?q={{heladera.coordenadas.latitud}},{{heladera.coordenadas.longitud}}&z=15&output=embed"
                    frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>

                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <p id="IDHeladera" class="form-control">{{heladera.id}}</p>
                                    <label for="IDHeladera">Heladera</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <p id="estadoHeladera" class="form-control">
                                        {{#if heladera.abierto}}Abierta{{else}}Cerrada{{/if}}
                                    </p>
                                    <label for="estadoHeladera">Estado de Heladera</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating">
                                    <p id="direccionHeladera" class="form-control">{{heladera.direccion}}</p>
                                    <label for="direccionHeladera">Dirección</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <p id="capacidadViandas" class="form-control">{{heladera.capacidadDeViandas}}</p>
                                    <label for="capacidadViandas">Capacidad de Viandas</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <div id="llena" class="form-control">
                                        <i class="fas {{#if heladera.estaLlena}}fa-check-circle text-success{{else}}fa-times-circle text-danger{{/if}}" style="font-size: 1.5em;"></i>
                                        {{#if heladera.llena}}Llena{{else}}No Llena{{/if}}
                                    </div>
                                    <label for="llena">Esta Llena</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <p id="fechaPuestaEnMarcha" class="form-control">{{heladera.fechaDePuestaEnMarcha}}</p>
                                    <label for="fechaPuestaEnMarcha">Fecha de Puesta en Marcha</label>
                                </div>
                            </div>
                        </div>

                        <form class="mt-4" action="/#" method="POST">
                            <a id="btnSuscribirse" href="javascript:void(0);" class="btn btn-primary py-2 px-4" onclick="suscribirse()">Suscribirse</a>

                            <!-- Botón de Desuscribirse oculto al inicio -->
                            <a id="btnDesuscribirse" href="javascript:void(0);" class="btn btn-danger py-2 px-4" style="display:none;" onclick="desuscribirse()">Desuscribirse</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{> templates/main/footer}}
{{> templates/partials/botonBack}}
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>

</html>
