<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Heladeras</title>
</head>
<body>
<h1>Lista de Heladeras</h1>
<ul>
    {{#each heladeras}}
        <li>
            ID: {{this.id}}, Dirección: {{this.direccion}}, Capacidad: {{this.capacidadDeViandas}}, Temperatura Actual: {{this.temperaturaActual}},
            Temperatura Máxima: {{this.temperaturaMax}}, Temperatura Mínima: {{this.temperaturaMin}}
            <a href="/heladeras/{{this.id}}">Ver Detalle</a>
        </li>
    {{/each}}

</ul>
<a href="/registro/heladera">Crear Nueva Heladera</a>
</body>
</html>