<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Heladeras</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">
    <link rel="stylesheet" href="../../css/efectos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <style>
        .heladera-row {
            cursor: pointer;
        }
    </style>
</head>
<body>
{{> templates/partials/headerColaborador rol=rol id=id}}
{{> templates/partials/tipografia}}

<div class="container-xxl py-5">
    <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Heladeras</h5>
        <h1 class="text-center">Listado de Heladeras a mi Cargo</h1>
    </div>

    <!-- Verificamos si hay heladeras -->
    {{#if heladeras}}
        <div class="table-responsive mt-4">
            <table id="tablaHeladeras" class="table table-bordered table-hover" style="width: 80%; margin: 0 auto;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Calle</th>
                    <th>Número</th>
                    <th>Localidad</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                <!-- Listamos las heladeras -->
                {{#each heladeras}}
                    <tr class="heladera-row" data-id="{{this.id}}">
                        <td><a href="/heladeras/{{this.id}}" class="text-primary">{{this.id}}</a></td>
                        <td>{{this.direccion.calle}}</td>
                        <td>{{this.direccion.numero}}</td>
                        <td>{{this.direccion.localidad}}</td>
                        <td>{{#if this.abierto}}Abierta{{else}}Cerrada{{/if}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <p class="text-center">No hay heladeras asignadas a tu cargo.</p>
    {{/if}}
    </div>
</div>

{{> templates/main/footer}}
{{> templates/partials/botonBack}}

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>

<script>
    // Hacer que cada fila sea clicable
    $('.heladera-row').on('click', function() {
        var idHeladera = $(this).data('id');
        window.location.href = '/heladeras/' + idHeladera + '/estado';
    });
</script>


</html>
