<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del estado heladera</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
</head>
<body>

{{> templates/partials/headerColaborador rol=rol  id=id}}  <!-- Incluye el partial header aquí -->
{{> templates/partials/tipografia}}  <!-- Incluye el partial typography here -->
<main>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Detalles de la Falla</h5>
                <h1 class="mb-5">Falla Tecnica en heladera : {{fallaTecnica.heladera.id}}</h1>
            </div>
            <div class="row g-4">
                <!--<div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                    <img src="{{fallaTecnica.foto}}" alt="Foto del fallaTecnica" class="img-fluid rounded" style="box-shadow: 0 10px 8px rgba(0, 0, 0, 0.329);">
                </div>-->
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                    <img src="https://st4.depositphotos.com/11514374/23527/v/1600/depositphotos_235271272-stock-illustration-cartoon-of-hungry-man-and.jpg" alt="Foto del fallaTecnica" class="img-fluid rounded" style="box-shadow: 0 10px 8px rgba(0, 0, 0, 0.329);">
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <p id="nombreHeladera" class="form-control">{{fallaTecnica.heladera.id}}</p>
                                    <label for="nombreHeladera">ID de la Heladera</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <p id="descripcionfallaTecnica" class="form-control">{{fallaTecnica.descripcion}}</p>
                                    <label for="descripcionfallaTecnica">Descripción del fallaTecnica</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <p id="estadofallaTecnica" class="form-control">{{#if fallaTecnica.solucionado}}Solucionado{{else}}No Solucionado{{/if}}</p>
                                    <label for="estadofallaTecnica">Estado del fallaTecnica</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <p id="fechafallaTecnica" class="form-control">{{fallaTecnica.fecha}}</p>
                                    <label for="fechafallaTecnica">Fecha del fallaTecnica</label>
                                </div>
                            </div>
                            {{#if fallaTecnica.fechaSolucionado}}
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <p id="fechaSolucionado" class="form-control">{{fallaTecnica.fechaSolucionado}}</p>
                                        <label for="fechaSolucionado">Fecha de Solución</label>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <p id="colaborador" class="form-control">{{fallaTecnica.colaborador.id}} </p>
                                    <label for="colaborador">Reportado por</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{> templates/main/footer}}
{{> templates/partials/botonBack}}
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>


</html>
