<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribución de Viandas</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
</head>

<body>
{{> templates/partials/headerColaborador rol = rol  id=id}}
{{> templates/partials/tipografia}}
<main>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Distribución de Viandas</h5>
                <h1 class="mb-5">Distribuir vianda</h1>
            </div>
            <div class="row g-4">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                    <h1 class="display-5 text-black-50 animated slideInLeft">Asegura la llegada de alimentos</h1>
                    <p class="text-dark animated slideInLeft mb-4 pb-3">
                        Registra la distribución de viandas para que lleguen a quienes más lo necesitan.
                        Ayuda a que nuestros recursos lleguen donde más se necesitan.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form action="/contribucionExitosa" method="POST">
                            <div class="row g-3">
                                <!-- Selección de Heladera de Origen -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <select class="form-control" id="heladeraOrigen" name="heladeraOrigen" required>
                                            <option value="" disabled selected>Seleccionar Heladera de Origen</option>
                                            {{#each heladeras }}
                                                <option value="{{this.id}}" data-max="{{this.viandas.size}}">
                                                    {{this.direccion.localidad}} (ID: {{this.id}} - Cantidad a mover {{this.viandas.size}})
                                                </option>
                                            {{/each}}
                                        </select>
                                        <label for="heladeraOrigen">Heladera de Origen</label>
                                    </div>
                                </div>

                                <!-- Selección de Heladera de Destino -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <select class="form-control" id="heladeraDestino" name="heladeraDestino" required>
                                            <option value="" disabled selected>Seleccionar Heladera de Destino</option>
                                            {{#each heladerasDisponible}}
                                                <option value="{{this.id}}" data-max="{{this.capacidadActual}}">
                                                    {{this.direccion.localidad}} (ID: {{this.id}}) - Capacidad Disponible: {{this.capacidadActual}})
                                                </option>
                                            {{/each}}
                                        </select>
                                        <label for="heladeraDestino">Heladera de Destino</label>
                                    </div>
                                </div>

                                <!-- Campo para Cantidad -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="cantidadViandas" name="cantidadViandas" placeholder="Cantidad" min="0" required>
                                        <label for="cantidad">Cantidad</label>
                                    </div>
                                </div>

                                <!-- Campo para Motivo -->
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" id="motivo" name="motivo" placeholder="Motivo de la distribución" style="height: 100px;" required></textarea>
                                        <label for="motivo">Motivo</label>
                                    </div>
                                </div>
                                <input type="hidden" name="tipo" value="DISTRIBUCION_VIANDAS">

                                <!-- Botón de envío -->
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3 zoom-btn" type="submit">Registrar Distribución</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{{> templates/main/footer}}
{{> templates/partials/botonBack}}
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>

<script>
    // Al seleccionar una heladera de destino, establecer el límite máximo de cantidad
    document.getElementById('heladeraDestino').addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        const maxCantidad = selectedOption.getAttribute('data-max');

        const inputCantidad = document.getElementById('cantidadViandas');
        inputCantidad.setAttribute('max', maxCantidad);
        inputCantidad.value = ""; // Limpia el valor de cantidad al cambiar de heladera
    });

    document.getElementById('cantidadViandas').addEventListener('input', function () {
        const max = this.getAttribute('max');
        if (parseInt(this.value) > parseInt(max)) {
            alert(`La cantidad máxima permitida es ${max}`);
            this.value = max;
        }
    });
</script>

</html>
